@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("animations.css");
html,
body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
}
#root {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}